.UserAccount{
    float: left;
    display:inline-flex;
}

.UserAccount .user-infos{
    float: right;
    display:inline-flex;
}
.UserAccount .user-avatar{
    float: left;
    width: 20px;
    height: 25px;
    font-size: 18px;
}